@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #1E3A8A; /* Default blue */
  --primary-hover: #1E40AF; /* Darker shade for hover */
  --background-color: #F3F4F6; /* Light gray */
  --text-color: #000000; /* Black */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
